
@{
    ViewBag.Title = "Bienvenidos!!";
}

<h2>Alquiler De VideoJuegos "FUN STATION" - ADMINISTRACIÓN</h2>

<div>
    <img src="~/Imagenes/portada.jpg" alt="AlquilerVJ" style="width:780px; height:auto;" />
</div>
